[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
python-dotenv = "*"
flask-login = "*"
gunicorn = "*"
uwsgi = "*"

[requires]
python_version = "3.8"
