{% extends "base.html"%}



{% block signup %}
{% if login %}
    <button class="btn btn-outline-success my-2 my-sm-0" action="/logout" type="submit">Logout</button>
    {% else %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
   
    <button class="btn btn-outline-success my-2 my-sm-0" action="/signup" type="submit">Signup</button>
    {% endif %}
{% endblock %}


{% block dashboard %}
{% if login %}
<li class="nav-item active">
    <a class="nav-link" href="/dashboard">Dashobard <span class="sr-only">(current)</span></a>
</li>
{% endif %}
{% endblock %}




{% block content %}
<h3>Home Page</h3>
<p>This web-app is based on to store file online , download later  </p>
<p>Simmilar to Dropbox , Google Drive </p>
<br>
<p>Tech Stack : Python - (Flask) , Jinja2 </p>
<p>Database : MySql </p>
{% endblock %}