{% extends "base.html" %}

{% block signup %}
  <button class="btn btn-outline-success my-2 my-sm-0" action="/login" type="submit">Login</button>
  <button class="btn btn-outline-success my-2 my-sm-0" action="/signup" type="submit">Signup</button>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-success">
        {{ messages[0] }} <h1>>Login Now :-)</h1>
    </div>
{% endif %}
{% endwith %}

<form method="POST" action="/login">
  <div class="form-group" >
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" style="width: 300px">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" style="width: 300px">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name="remember">
    <label class="form-check-label" for="remember">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}